html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #004417;
}

body * {
    color: rgb(255, 241, 38);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* GRID */
.grid__container {
    width: 108rem;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.grid__container:hover::after {
    content: '';
	display: block;
	width: 108rem;
	min-height: 100%;
	background-image: linear-gradient(to right, transparent 20%, rgba(133, 166, 199, 0.2) 20%, rgba(88, 116, 145, 0.2) 80%, transparent 80%);
	background-size: 9rem;
	background-repeat: repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.grid__container .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: .5rem;
    margin-bottom: 1rem;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

/* COMMON */
.body__container {
    height: 100vh;
}

[class^="col-"] {
    text-align: center;
    border: .2rem dashed #999;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
    color: #fff;
    font-size: 2.4rem;
}
/* HEADER */
header {
    text-align: center;
    padding: 5rem 0;
    border-bottom: 2px solid #fff;
    margin-bottom: 5rem;
}

header h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

